/* shiny::modalDialog specifies xl as a size option, but has no corresponding CSS  */
.modal-xl {
  width: 99%;
}

/* Assume all textareas are code textareas, so should be monospace */
textarea.shiny-input-textarea {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 1rem;
}
